@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.gabunghome {
    display: flex;
    min-height: 100vh;
}

.home {
    background-image: linear-gradient(rgba(255, 152, 0, 0.6), rgba(255, 152, 0, 0.6)), url("/aset/bg\ login.png");
    /* height: 950px; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.home img {
    width: 37%;
    margin-top: 150px;
}

.judulLogin {
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.home2 {
    width: 500px;
    flex-shrink: 0;
    /* height: 745px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.descLogin {
    width: 80%;
    font-size: 18px;
    color: white;
    text-align: center;
}

.atas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.judulWelcome {
    font-size: 30px;
    color: #FF9800;
    margin-top: 10%;
}

.petunjukCreate {
    width: 73%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.petunjuk2 {
    font-size: 16px;
    font-weight: 400;
}

.inputNama {
    padding-left: 73px;
    padding-right: 73px;
    padding-bottom: 17px;
}

.nama {
    font-weight: bold;
    font-size: 15px;
}

.inputNama input {
    /* margin-left: 10%; */
    margin-top: 1%;
    width: 97%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
    overflow-x: auto;
}

.inputNIM {
    padding-left: 73px;
    padding-right: 73px;
    padding-bottom: 17px;
}


.NIM {
    font-weight: bold;
    font-size: 15px;
    /* margin-left: 10%;
    margin-top: 3%;
} */
}

.inputNIM input {
    width: 97%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.inputJurusan {
    padding-left: 73px;
    padding-bottom: 17px;
}

.Jurusan {
    font-weight: bold;
    font-size: 15px;
}

.inputJurusan input {
    width: 83%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.inputSpesialisasi {
    padding-left: 73px;
    padding-bottom: 17px;
}

.Spesialisasi {
    font-weight: bold;
    font-size: 15px;
}

.inputSpesialisasi input {
    width: 83%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.inputFakultas {
    padding-left: 73px;
    padding-bottom: 17px;
}

.fakultas {
    font-weight: bold;
    font-size: 15px;
}

.inputFakultas input {
    width: 83%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.inputPassCreateAcc {
    padding-left: 73px;
    padding-bottom: 17px;
}

.PassCreateAcc {
    font-weight: bold;
    font-size: 15px;
}

.inputPassCreateAcc input {
    width: 83%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

input:focus {
    border: 2px solid #FF9800;
}

.bagianMasuk .masukCreate {
    font-size: 14px;
    text-align: center;
}

.bagianMasuk a {
    color: #FF9800;
    font-weight: bold;
}

.buttonMasuk {
    padding-left: 73px;
    padding-bottom: 17px;
}

.masuk {
    width: 83%;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 1.5px solid #FF9800;
    background-color: white;
    margin-top: 4%;
    /* margin-left: 10%; */
}

.masuk:hover {
    background-color: #FF9800;
    color: white;
    font-weight: bold;
}

.syaratPass {
    padding-top: 3px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(151, 148, 148);
    padding-right: 5px;
}

.requiredPass {
    color: rgb(151, 148, 148);
    font-size: 16px;
}

@media(max-width: 850px) {
    .home {
        display: none;
    }

    .home2 {
        width: 100%;
    }

    .inputSpesialisasi,
    .inputNama {
        padding-left: 75px;
    }
}