@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
    --orange: #ff9800;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: 0.2s;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.navbartop {
    overflow: hidden;
    background-color: white;
}

.logoDiatas {
    display: flex;
    margin-left: 2%;
    margin-top: 1.5%;
    width: 300px;
}

.nav-links {
    margin-right: 3%;
}

.fixnav {
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    padding: 0.5% 2%;
    justify-content: space-between;
    margin-top: 2%;
    background-color: #ff9800;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    width: 60px;
    margin-top: 10%;
}

.search-box {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 300px;
    margin-left: 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.hometext a {
    color: white !important;
}

.input {
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #000000;
    padding: 12px;
    padding-right: 28px;
    font-size: 14px;
}

.input:focus {
    border: 2px solid var(--orange);
}

.input::placeholder {
    color: var(--orange);
    opacity: 60%;
}

.search {
    text-align: center;
    color: #ff9800;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -24px;
    transform: scale(1.5);
}

.homeicon {
    text-align: center;
}

.addicon {
    text-align: center;
}

.myactivityicon {
    text-align: center;
}

.profileicon {
    text-align: center;
}

nav img {
    width: 58px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #609CF6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.homeicon i {
    width: 100%;
    transform: scale(1.8);
    color: white;
}

.addicon i {
    width: 100%;
    transform: scale(1.8);
}

.myactivityicon i {
    width: 100%;
    transform: scale(1.8);
}

.profileicon i {
    width: 100%;
    transform: scale(1.8);
}

.nav-links #close {
    display: none;
}

nav #humbuger {
    display: none;
}

.profiletext button {
    background: transparent;
    border: none;
    transform: scale(1.2);
    margin-left: 5px;
}

.homeadmin {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.pengirim {
    margin-top: 3%;
    /* margin-left: 10%; */
    border: 2px solid #001c4c;
    width: 25%;
    height: 320px;
    overflow-y: auto;
    border-radius: 10px;
}

.pengirim::-webkit-scrollbar {
    display: none;
}

.judulpengirim {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #001c4c;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.listpengirim {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-flow: column nowrap;
}

.infopengirim {
    display: flex;
    background-color: rgb(255, 152, 0, 0.6);
    border-radius: 10px;
    width: 95%;
    height: 80px;
    align-items: center;
    margin-top: 5%;
    /* margin-right: 3%; */
    justify-content: space-around;
    flex-flow: row nowrap;
    border: none;
}

.profile {
    display: flex;
    width: 23%;
    align-items: center;
    justify-content: center;
}

.namepengirim {
    font-weight: bold;
    font-size: 18px;
}

.name{
    margin-left: 2%;
}

.jurusan {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.iconbeside {
    width: 5%;
}

.iconbeside i {
    color: #000000;
    transform: scale(1.5);
}

.tampilaninfo {
    margin-top: 3%;
    margin-left: 5%;
    /* margin-right: 10%; */
    border: 2px solid #001c4c;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.gabungantmbl{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.judulkegiatan {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.infokegiatan {
    margin-left: 4%;
    margin-top: 3%;
}

/* .atasjenis{
    font-weight: bold;
    font-size: 16px;
} */

.jawabanjenis {
    font-size: 14px;
}

.tanggal,
.deskripsi,
.logo1,
.jeniskegiatan,
.form {
    margin-top: 4%;
}

.atastanggal,
.atasdeskripsi,
.ataslogo,
.atasjenis,
.atasform {
    font-weight: bold;
    font-size: 16px;
}

.tanggalmulai,
.tanggalakhir,
.jawabanjenis {
    font-size: 14px;
}

.descinfo {
    border: 2px solid #E4E4E4;
    width: 80%;
    height: 180px;
    margin-top: 1%;
    border-radius: 5px;
}

.logo1 img {
    width: 35%;
    margin-top: 2%;
}

.rectangle {
    border: 2px solid #E4E4E4;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 4%;
    height: 60px;
    border-radius: 5px;
}

.tombol {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    /* float: right; */
    align-items: center;
}

#tolak {
    width: 13%;
    height: 40px;
    font-size: 18px;
    background-color: #E04747;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 1%;
}

#acc {
    width: 13%;
    height: 40px;
    font-size: 18px;
    background-color: #1AD95B;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 3%;
}

.card {
    width: 190px;
    height: 254px;
    background: #ed9a09;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #88580a6b;
}

.card .card-border-top {
    width: 60%;
    height: 3%;
    background: #f3c864;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

.card .img {
    width: 70px;
    height: 80px;
    background: #f3c864;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}

.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #f3c864;
    color: white;
    font-weight: 600;
}

.card button:hover {
    background: #f5b82b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -90px;
    margin-top: 14px;
    min-width: 160px;
    z-index: 1;
    padding: 12px 16px;
}

.show {
    display: block;
}

.dropdown img {
    width: 40px;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 27%;
    left: 50%;
    margin-left: -150px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-weight: bold;
}

#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
    display: flex;
    justify-content: center;
}

#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    border-radius: 10px;
}

.popup img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.popup p {
    font-weight: bold;
    font-size: 16px;
}

.popup2 {
    display: none;
    position: fixed;
    padding: 10px;
    width: 20%;
    left: 50%;
    margin-left: -90px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    /* justify-content: center;
    align-items: center; */
    flex-flow: column nowrap;
    font-weight: bold;
    border-radius: 10px;
}

#cancel {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    color: #000000;
}

#tidak {
    float: right;
    margin-right: 2%;
    border-radius: 5px;
    font-size: 14px;
    width: 20%;
    height: 30px;
    border: none;
}

#tidak:hover {
    font-weight: bold;
    background-color: #6f7378;
}

#ya {
    float: right;
    margin-right: 2%;
    background-color: rgb(224, 71, 71, 0.7);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 20%;
    height: 30px;
    color: white;

}

#ya:hover {
    background-color: rgb(224, 71, 71);
    font-weight: bold;
}

#popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
    display: flex;
    /* border-radius: 10px; */
    justify-content: center;
}

#popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    border-radius: 10px;
}

.judulLogout {
    display: flex;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.pertanyaankeluar {
    font-size: 16px;
    font-weight: normal;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.buttonlog {
    margin-top: 7%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #ffa115; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 10px;
  }
  

/* MEDIA QUERY */
@media (max-width: 700px) {
    .search-box {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 200px;
        margin-left: 20px;
    }

    .nav-links ul li {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
    }

    .hometext a,
    .homeicon i {
        color: black !important;
    }

    .nav-links {
        position: absolute;
        background-color: #f6f9fe;
        height: 100vh;
        width: 200px;
        top: 0;
        left: -200px;
        text-align: left;
        z-index: 4;
        transition: 1s;
    }

    .logoNav {
        align-items: center;
        position: relative;
        width: 50%;
    }

    .nav-links .hometext {
        text-align: center;
    }

    .nav-links .dropdown img {
        text-align: center;
    }

    .nav-links #close {
        display: block;
        color: #ff9800;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav #humbuger {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .acara img {
        width: 100px;
    }

    .homeadmin {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
    }

    .pengirim {
        margin-top: 3%;
        /* margin-left: 10%; */
        border: 2px solid #001c4c;
        width: 60%;
        height: 320px;
        overflow-y: auto;
        border-radius: 10px;
    }

    .gabungantmbl{
        display: flex;
        flex-flow: column nowrap;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .tampilaninfo {
        margin-top: 5%;
        border: 2px solid #001c4c;
        width: 100%;
        height: 780px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .popup {
        display: none;
        position: fixed;
        padding: 10px;
        width: 57%;
        margin-left: -115px;
        height: 180px;
        /* top: 50%; */
        /* margin-top: -100px; */
        background: #FFF;
        z-index: 20;
        /* justify-content: center; */
        /* align-items: center; */
        flex-flow: column nowrap;
        font-weight: bold;
    }
    #popup:after {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -2;
    }
    #popup:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFF;
        z-index: -1;
        border-radius: 10px;
    }
    .popup img {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
    }
    .popup p {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

    .judulkegiatan {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

    .popup2 {
        display: none;
        position: fixed;
        padding: 10px;
        width: 70%;
        left: 50%;
        margin-left: -130px;
        height: 180px;
        top: 50%;
        margin-top: -100px;
        background: #FFF;
        z-index: 999;
        /* justify-content: center;
        align-items: center; */
        flex-flow: column nowrap;
        font-weight: bold;
        border-radius: 10px;
    }

    #cancel {
        float: right;
        margin-right: 2%;
        margin-top: 2%;
        color: #000000;
    }

    #tidak {
        float: right;
        margin-right: 2%;
        border-radius: 5px;
        font-size: 14px;
        width: 20%;
        height: 30px;
        border: none;
    }

    #tidak:hover {
        font-weight: bold;
        background-color: #6f7378;
    }

    #ya {
        float: right;
        margin-right: 2%;
        background-color: rgb(224, 71, 71, 0.7);
        border: none;
        border-radius: 5px;
        font-size: 14px;
        width: 20%;
        height: 30px;
        color: white;

    }

    #ya:hover {
        background-color: rgb(224, 71, 71);
        font-weight: bold;
    }

    #popup2:after {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -2;
        display: flex;
        /* border-radius: 10px; */
        justify-content: center;
    }

    #popup2:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFF;
        z-index: -1;
        border-radius: 10px;
    }

    .judulLogout {
        display: flex;
        font-size: 22px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }

    .pertanyaankeluar {
        font-size: 16px;
        font-weight: normal;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .buttonlog {
        margin-top: 7%;
    }

    .namepengirim {
        font-weight: bold;
        font-size: 16px;
    }

    .name {
        margin-left: 2%;
    }

    .jurusan {
        color: white;
        font-weight: 400;
        font-size: 14px;
    }

    .tombol {
        margin-top: 15%;
    }

    #tolak,
    #acc {
        width: 23%;
    }
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }