@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --orange: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbartop {
  overflow: hidden;
  background-color: white;
}

.logoDiatas {
  display: flex;
  margin-left: 2%;
  margin-top: 1.5%;
  width: 300px;
}

.fixnav {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  padding: 0.5% 2%;
  justify-content: space-between;
  margin-top: 2%;
  background-color: #ff9800;
  align-items: center;
}

.logo {
  width: 60px;
  margin-top: 10%;
}

/* Search Results */
.search-results {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 298px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  left: 10.3%;
  margin-top: 24px;
  border-radius: 5px;

}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;

}

.search-results li:hover {
  background-color: #eee;
  cursor: pointer;
}

.search-box {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 300px;
  margin-left: 20px;
}

/* =================================================== */

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.nav-links {
  margin-right: 3%;
}

.input {
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #000000;
  padding: 12px;
  padding-right: 28px;
  font-size: 14px;
}

.input:focus {
  border: 2px solid var(--orange);
}

.input::placeholder {
  color: var(--orange);
  opacity: 60%;
}

.search {
  text-align: center;
  color: #ff9800;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: -24px;
  transform: scale(1.5);
}

.homeicon {
  text-align: center;
}

.addicon {
  text-align: center;
}

.myactivityicon {
  text-align: center;
}

.dropdown img {
  text-align: center;
}

nav img {
  width: 58px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #609cf6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.homeicon i {
  width: 100%;
  transform: scale(1.8);
  color: white;
}

.addicon i {
  width: 100%;
  transform: scale(1.8);
}

.myactivityicon i {
  width: 100%;
  transform: scale(1.8);
}

.nav-links #close {
  display: none;
}

nav #humbuger {
  display: none;
}

.gabung {
  display: flex;
  flex-flow: row nowrap;
}

#closeMore {
  float: right;
  margin-top: 2%;
  color: #000000;
  padding-right: 15px;
}

/* BAGIAN PERTAMA HOME */
.home1 {
  background-image: linear-gradient(rgba(255, 152, 0, 0.5),
      rgba(255, 152, 0, 0.5)),
    url("/aset/gambarHome1.png");
  width: 50%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text1 {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.text2 {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.text3 {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.text4 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.text5 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.home1 button {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 160px;
  height: 47px;
  margin-top: 15px;
}

.cari:hover {
  color: #ff9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.home2 {
  background-image: linear-gradient(rgba(28, 49, 94, 0.6),
      rgba(28, 49, 94, 0.6)),
    url("/aset/gambarHome2.png");
  width: 50%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home2 button {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 160px;
  height: 100%;
  margin-top: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.unggah:hover {
  color: #ff9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.hometext a {
  color: white !important;
}

.bagian1 {
  display: flex;
}

.bagian1atas {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text12 {
  font-size: 45px;
  font-weight: bolder;
}

.text22 {
  font-size: 16px;
}

.text32 {
  font-size: 16px;
}

.bagian2 {
  display: flex;
}

.row {
  /* margin: 0 -5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  flex-wrap: wrap;
  gap: 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 27%;
  padding: 0 10px;
  /* padding-bottom: 80px; */
  /* margin-right: 15px; */
}

.card {
  padding: 5px;
  text-align: center;
  min-height: 200px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 20%;
}

.card img {
  width: 100%;
  aspect-ratio: 19/5;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/* .card::before {
  content: "";
  display: block;
  height: 80px;  
  margin-top: -100px; 
  visibility: hidden;
} */
.search-result-link {
  color: black;
  text-decoration: none;
}

.search-result-link:hover {
  font-weight: bold;
}

.judul {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 550;
  width: 100%;
  font-weight: bold;
}

.tutup {
  font-size: 12px;
  color: grey;
  text-align: left;
}

.card button {
  background-color: #f7b450;
  border: none;
  font-size: 12px;
  padding: 8px;
  float: right;
  border-radius: 10px;
  color: white;
  margin-top: 7%;
}

.card button:hover {
  background: #ff9800;
  font-weight: bold;
}

.bagian4 {
  display: flex;
  margin-top: 7%;
}

.bagian4 img {
  width: 60%;
  margin-top: 2%;
}

.bagianjudul {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caramendaftar {
  font-size: 45px;
  font-weight: bolder;
}

.descdaftar {
  text-align: center;
  font-size: 16px;
  width: 53%;
}

.lanjutandaftar {
  font-size: 16px;
}

.bagian5 {
  display: flex;
  margin-top: 4%;
  flex-flow: column nowrap;
}

.bagianjudul2 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tulisanlogo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo2 {
  width: 125px;
  display: flex;
}


.logo img {
  width: 120px;
}

.tulisan {
  font-weight: bold;
}

.bagianjudul3 {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(28, 49, 94);
  margin-top: 7%;
}

.pilihan {
  font-size: 18px;
  color: white;
}

.unggah2 {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 118px;
  height: 100%;
  margin-top: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.unggah2:hover {
  color: #ff9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.card1 {
  width: 190px;
  height: 254px;
  background: #ed9a09;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #88580a6b;
}

.card1 .card-border-top {
  width: 60%;
  height: 3%;
  background: #f3c864;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card1 span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card1 .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card1 .img {
  width: 70px;
  height: 80px;
  background: #f3c864;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card1 button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #f3c864;
  color: white;
  font-weight: 600;
}

.card1 button:hover {
  background: #f5b82b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -130px;
  margin-top: 14px;
  min-width: 160px;
  z-index: 1;
  padding: 12px 16px;
}

.show {
  display: block;
}

.dropdown img {
  width: 40px;
}

.card2 {
  width: 190px;
  height: 254px;
  background: #ed9a09;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #88580a6b;
}

.card2 .card-border-top {
  width: 60%;
  height: 3%;
  background: #f3c864;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card2 span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card2 .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card2 .img {
  width: 70px;
  height: 80px;
  background: #f3c864;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 .img i{
transform: scale(1.7);
color: #ffb03a;
}

.card2 button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #f3c864;
  color: white;
  font-weight: 600;
}

.card2 button:hover {
  background: #f5b82b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -130px;
  margin-top: 14px;
  min-width: 160px;
  z-index: 1;
  padding: 12px 16px;
}

.show {
  display: block;
}

.dropdown img {
  width: 40px;
}

.popup2 {
  display: none;
  position: fixed;
  /* width: 20%; */
  left: 50%;
  /* margin-left: -150px; */
  /* height: 180px; */
  top: 50%;
  /* margin-top: -100px; */
  z-index: 20;
  /* flex-flow: column nowrap; */
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.popup2_inner {
  background-color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  max-width: 300px;
}

#cancel {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  color: #000000;
}

#tidak {
  float: right;
  margin-right: 2%;
  border-radius: 5px;
  font-size: 14px;
  width: 20%;
  height: 30px;
  border: none;
}

#tidak:hover {
  font-weight: 500;
  background-color: #a0a1a3;
}

#ya {
  float: right;
  margin-right: 2%;
  background-color: rgb(224, 71, 71, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 20%;
  height: 30px;
  color: white;
}

#ya:hover {
  background-color: rgb(224, 71, 71);
  font-weight: bold;
}

/* #popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 10px;
} */

.judulLogout {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.pertanyaankeluar {
  font-size: 16px;
  font-weight: normal;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.buttonlog {
  margin-top: 7%;
}

.footer {
  padding: 40px 0;
  background-color: #ff9800;
  margin-top: 50px;
}

.footer .nama {
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul a {
  color: white;
  text-decoration: none;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  color: black;
}

.footer .jurusantahun {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #e7e7e7;
}

.logoPanjang {
  width: 191.2248px;
  height: 76.137px;
}


.bungkus {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popupmore {
  background: white;
  z-index: 20;
  font-weight: bold;
  border-radius: 20px;
  overflow-y: auto;
  max-width: 30%;
  height: 500px;
}

.buttonApply{
  padding-bottom: 7px;
  height: 50px;
}


.popupmore::-webkit-scrollbar {
  display: none;
}
#popupmore {
  display: none;
}

/* #popupmore:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2; 
} */

/* #popupmore:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 10px;
} */

.judullogo {
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  border-bottom: 1px solid #a9a9a9;
  padding: 0 30px;
}

.infokegiatan {
  padding: 0 30px;
}

.logopop {
  display: flex;
  align-items: center;
}

.judulpop{
  text-align: center;
}

#logokegiatan {
  max-width: 196px;
  padding-bottom: 10px;
}

#apply {
  margin-bottom: 20px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #f7b551;
  border: none;
  border-radius: 10px;
  float: right;
}

#apply:hover{
  background-color: #ff9800;
  font-weight: bold;
}

.tanggal,
.deskripsi,
.logo1,
.jeniskegiatan,
.form {
  margin-top: 4%;
}

.deskripsi{
  padding-bottom: 10px;
}

.atastanggal,
.atasdeskripsi,
.ataslogo,
.atasjenis,
.atasform {
  font-weight: bold;
  font-size: 18px;
}

.tanggalmulai,
.tanggalakhir,
.jawabanjenis {
  font-size: 14px;
  font-weight: normal;
}

.descinfo {
  border: 2px solid #E4E4E4;
  width: 95%;
  min-height: 60px;
  height: auto;
  margin-top: 1%;
  border-radius: 5px;
  word-wrap: break-word;
}

.descinfo p {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-weight: normal;
}


@media(max-width: 862px) {
  .search-box {
    width: 230px;
  }

  .nav-links ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .nav-links .dropdown-content {
    margin-left: -90px;
  }

  .hometext a,
  .homeicon i {
    color: black !important;
  }

  .nav-links {
    position: absolute;
    background-color: #f6f9fe;
    height: 100vh;
    width: 200px;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 4;
    transition: 1s;
  }

  .logoNav {
    align-items: center;
    position: relative;
    width: 50%;
  }

  .nav-links .hometext {
    text-align: center;
  }

  .nav-links .addtext {
    text-align: center;
  }

  .nav-links .myactivitytext {
    text-align: center;
  }

  .nav-links .profiletext {
    text-align: center;
  }

  .nav-links .dropdown img {
    text-align: center;
  }

  .nav-links #close {
    display: block;
    color: #ff9800;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  nav #humbuger {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

@media (max-width: 874px) {
  .acara img {
    width: 100px;
  }

  .gabung {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  .home1 {
    width: 100%;
    height: 400px;
  }

  .text1 {
    font-size: 18px;
    font-weight: lighter;
    color: white;
  }

  .text2 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
  }

  .text3 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
  }

  .text4 {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-align: center;
  }

  .text5 {
    font-size: 16px;
    font-weight: lighter;
    color: white;
  }

  .home1 button {
    border: 3px solid white;
    color: white;
    font-size: 18px;
    background: transparent;
    width: 140px;
    height: 50px;
    margin-top: 15px;
  }

  .home2 {
    width: 100%;
    height: 400px;
  }

  .home2 button {
    width: 130px;
    height: 100%;
  }

  .caramendaftar {
    font-size: 30px;
  }

  .pilihan {
    font-size: 16px;
    text-align: center;
  }

  .unggah2 {
    width: 115px;
    height: 90%;
  }

  .bagian4 img {
    width: 90%;
  }

  .descdaftar {
    text-align: center;
    font-size: 14px;
    width: 80%;
  }

  .lanjutandaftar {
    font-size: 14px;
  }

  .column {
    width: 90%;
  }

  .bungkus {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popupmore {
    background: white;
    z-index: 20;
    font-weight: bold;
    border-radius: 20px;
    overflow-y: auto;
    max-width: 90%;
    height: 500px;
  }

  #logokegiatan {
    max-width: 150px;
    padding-bottom: 10px;
  }
}