@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --orange: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.navbartop {
  overflow: hidden;
  background-color: white;
}

.logoDiatas {
  display: flex;
  margin-left: 2%;
  margin-top: 1.5%;
  width: 300px;
}

.fixnav {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  padding: 0.5% 2%;
  justify-content: space-between;
  margin-top: 2%;
  background-color: #ff9800;
  align-items: center;
}

.logo {
  width: 60px;
  margin-top: 10%;
}

.search-box {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 300px;
  margin-left: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.nav-links{
  margin-right: 3%;
}

.input {
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #000000;
  padding: 12px;
  padding-right: 28px;
  font-size: 14px;
}

.input:focus {
  border: 2px solid var(--orange);
}

.input::placeholder {
  color: var(--orange);
  opacity: 60%;
}

.search {
  text-align: center;
  color: #ff9800;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: -24px;
  transform: scale(1.5);
}

.homeicon {
  text-align: center;
}

.addicon {
  text-align: center;
}

.myactivityicon {
  text-align: center;
}

.dropdown img {
  text-align: center;
}

nav img {
  width: 58px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #609CF6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.homeicon i {
  width: 100%;
  transform: scale(1.8);
  color: white;
}

.addicon i {
  width: 100%;
  transform: scale(1.8);
}

.myactivityicon i {
  width: 100%;
  transform: scale(1.8);
}

.profileicon i {
  width: 100%;
  transform: scale(1.8);
}

.nav-links #close {
  display: none;
}

nav #humbuger {
  display: none;
}

.gabung {
  display: flex;
}

.home1 {
  background-image: linear-gradient(rgba(255, 152, 0, 0.5), rgba(255, 152, 0, 0.5)), url("/aset/gambarHome1.png");
  width: 50%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text1 {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.text2 {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.text3 {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.text4 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.text5 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.home1 button {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 160px;
  height: 100%;
  margin-top: 15px;
}

.home2 {
  background-image: linear-gradient(rgba(28, 49, 94, 0.6), rgba(28, 49, 94, 0.6)), url("/aset/gambarHome2.png");
  width: 50%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cari:hover {
  color: #FF9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.home2 button {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 160px;
  height: 100%;
  margin-top: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.unggah:hover {
  color: #FF9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.hometext a {
  color: white !important;
}

.bagian1 {
  display: flex;
}

.bagian1atas {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text12 {
  font-size: 45px;
  font-weight: bolder;
}

.text22 {
  font-size: 16px;
}

.text32 {
  font-size: 16px;
}

.bagian2 {
  display: flex;
}

.row {
  /* margin: 0 -5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  flex-wrap: wrap;
  gap: 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 27%;
  padding: 0 10px;
  /* padding-bottom: 80px; */
  margin-right: 15px;
}

.card {
  padding: 16px;
  text-align: center;
  min-height: 200px;
  height: fit-content;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 20%;
}

.card img {
  margin-top: 15px;
  width: 100%;
  aspect-ratio: 19/4;
  object-fit: cover;
}

.judul {
  text-align: left;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 550;
  width: 100%;
  font-weight: bold;
}

.tutup {
  font-size: 12px;
  color: grey;
  text-align: left;
}

.card button {
  background-color: #f7b450;
  border: none;
  font-size: 12px;
  padding: 8px;
  float: right;
  border-radius: 10px;
  color: white;
  margin-top: 7%;
}

.card button:hover {
  background: #FF9800;
  font-weight: bold;
}

.bagian4 {
  display: flex;
  margin-top: 7%;
}

.bagian4 img{
  width: 60%;
  margin-top: 2%;
}

.bagianjudul {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caramendaftar {
  font-size: 45px;
  font-weight: bolder;
}

.descdaftar {
  font-size: 16px;
}

.lanjutandaftar {
  font-size: 16px;
}

.bagian5 {
  display: flex;
  margin-top: 4%;
  flex-flow: column nowrap;
}

.bagianjudul2 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sedangberlangsung {
  font-size: 45px;
  font-weight: bolder;
}

.desclangsung {
  font-size: 16px;
}

.lanjutanlangsung {
  font-size: 16px;
}

.bagian6 {
  display: flex;
  margin-top: 70px;
}

.bagianutuh{
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center; */
  justify-content: center;
}

.temukandisini{
  width: 30%;
  height: 700px;
  background-color: white;
}

.judultemukan{
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #FF9800;
  align-items: center;
  border-radius: 5px 0 0 0;
}

.judultemukan p{
  font-size: 18px;
  font-weight: 450;
  color: white;
  margin-left: 2%;
}

.listevent{
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2%;
}

.acara{
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  margin-right: 2%;
}

.logoacara{
  display: flex;
  width: 120px;
  align-items: center;
}

.logoacara img{
  width: 120px;
  margin-left: 5%;
}

.tulisanacara{
  margin-left: 5%;
  margin-top: 5%;
}

.judulacara{
  font-size: 16px;
  font-weight: 600;
}

.jenisacara{
  font-size: 14px;
  font-weight: 500;
  color: var(--orange);
}

.informasi{
  width: 40%;
  border: 2px solid #001c4c;
}

.tulisanlogo{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo2{
  width: 125px;
  display: flex;
}


.logo img{
  width: 120px;
}

.tulisan{
  font-weight: bold;
}

.bagianjudul3 {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FF9800;
}

.pilihan{
  font-size: 18px;
}

.unggah2 {
  border: 3px solid white;
  color: white;
  font-size: 18px;
  background: transparent;
  width: 118px;
  height: 100%;
  margin-top: 15px;
  transition: all 0.3s;
  cursor: pointer;
}


.unggah2:hover {
  color: #FF9800;
  background: white;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
}

.card1 {
  width: 190px;
  height: 254px;
  background: #ed9a09;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #88580a6b;
}

.card1 .card-border-top {
  width: 60%;
  height: 3%;
  background: #f3c864;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card1 span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card1 .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card1 .img {
  width: 70px;
  height: 80px;
  background: #f3c864;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card1 button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #f3c864;
  color: white;
  font-weight: 600;
}

.card1 button:hover {
  background: #f5b82b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -130px;
  margin-top: 14px;
  min-width: 160px;
  z-index: 1;
  padding: 12px 16px;
}

.show {
  display: block;
}

.dropdown img{
  width: 40px;
}

@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }

  .hometext a,
  .homeicon i {
    color: black !important;
  }

  .nav-links {
    position: absolute;
    background-color: #F6F9FE;
    height: 100vh;
    width: 200px;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 4;
    transition: 1s;
  }

  .logoNav {
    align-items: center;
    position: relative;
    width: 50%;
  }

  .nav-links .hometext {
    text-align: center;
  }

  .nav-links .addtext {
    text-align: center;
  }

  .nav-links .myactivitytext {
    text-align: center;
  }

  .nav-links .profiletext {
    text-align: center;
  }

  .nav-links .dropdown img {
    text-align: center;
  }

  .nav-links #close {
    display: block;
    color: #FF9800;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  nav #humbuger {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .acara img{
    width: 100px;
  }
}