@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.gabunghome {
    display: flex;
}

.home {
    background-image: linear-gradient(rgba(255, 152, 0, 0.6), rgba(255, 152, 0, 0.6)), url("aset/bg\ login.png");
    width: 65%;
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.home img {
    width: 37%;
    margin-top: 150px;
}

.home p {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.home pre{
    font-size: 18px;
    color: white;
}

.home2 {
    width: 35%;
    height: 745px;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.atas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.judulWelcome {
    font-size: 30px;
    color: #FF9800;
    margin-top: 10%;
}

.petunjukCreate {
    font-size: 16px;
    font-weight: 400;
}

.petunjuk2 {
    font-size: 16px;
    font-weight: 400;
}

.nama {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputNama input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.NIM {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputNIM input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.Jurusan {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputJurusan input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.Spesialisasi {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputSpesialisasi input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.Email {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputEmail input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

.PassCreateAcc {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 3%;
}

.inputPassCreateAcc input {
    margin-left: 10%;
    margin-top: 1%;
    width: 375px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 2%;
    border: 1.5px solid #00000058;
}

input:focus{
    border: 2px solid #FF9800;
}

.bagianMasuk .masukCreate {
    font-size: 14px;
    margin-top: 5%;
    margin-left: 26%;
}

.bagianMasuk .masukAkun {
    font-size: 16px;
    font-weight: bold;
    color: #FF9800;
    margin-left: 53%;
    margin-top: -4.3%;
}

.masuk {
    width: 375px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 1.5px solid #FF9800;
    background-color: white;
    margin-top: 4%;
    margin-left: 10%;
}

.masuk:hover{
    background-color: #FF9800;
    color: white;
    font-weight: bold;
}